# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: learning record

on:
  schedule:
    - cron:  '22 15 * * 2'
  #push:
  #  branches: [ "main" ]
  #pull_request:
  #  branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  run-python-script:
    runs-on: ubuntu-latest

    steps:
    - name: checkout repo content
      uses: actions/checkout@v2

    - name: setup python 3.13.9
      uses: actions/setup-python@v4
      with:
        python-version: '3.13.9'  # You can specify any available Python version here
      
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: run main file
      env:
        client_id : ${{secrets.CLIENT_ID}}
        site__id_personal_z : ${{secrets.SITE__ID_PERSONAL_Z}}
        site__id_cmmas : ${{secrets.SITE__ID_CMMAS}}
        site__id_zhuzxself : ${{secrets.SITE__ID_ZHUZXSELF}}
        list__id_secret : ${{secrets.LIST__ID_SECRET}}
        item_id : ${{secrets.ITEM_ID}}
        team_id_zhuzxself : ${{secrets.team_id_zhuzxself}}
        channel_id_Notification : ${{secrets.channel_id_Notification}}
        message_id_Login_Notification : ${{secrets.message_id_Login_Notification}}
        client_secret : ${{secrets.CLIENT_SECRET}}
        tenant_id : ${{secrets.TENANT_ID}}
        scope_list : ${{secrets.CLIENT_ID}}
        wx_APPID : ${{secrets.WX_APPID}}
        wx_SECRET : ${{secrets.WX_SECRET}}
        template_id : ${{secrets.TEMPLATE_ID}}
        openid : ${{secrets.OPENID}}
        proxy_add : ${{secrets.PROXY_ADD}}
        finance_section_id : ${{secrets.FINANCE_SECTION_ID}}
        username : ${{secrets.USERNAME}}
        deeplx_secret_key : ${{secrets.DEEPLX_SECRET_KEY}}
      run: python -u 01.Teams-Shifts-TimeCards-MSLists.py
